html, body {
  height: 100%;
}
footer {
  flex-shrink: 0; 
  padding: 20px;
  background-color: #fcfcfc;
  text-align: center;
  color: #7d879e;
  font-style: italic;
  margin-top: 30px;
  font-size: .85rem;
  letter-spacing: 0.3px;
}
a:hover {
  text-decoration: none !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
/* NAV */
#nav {
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 2px 0 5px -2px #888;
  padding-right: 5%;
  padding-left: 5%;
}
#nav a.nav-link {
  color: #667489;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
#nav a.nav-link:after  {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #41B883;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav a.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}
#nav a.dropdown-toggle {
  margin-right: 0;
  color: #2c3e50;
  font-weight: bold;
}
#nav a.dropdown-toggle:after {
  display: inline-block;
  left: 0;
  position: relative;
  background: #fff;
}
#nav a.dropdown-toggle:hover:after {
  width: 0; 
}
#nav a.nav-link.router-link-exact-active {
  color: #41B883;
  font-weight: bold;
}
#nav .dropdown-item.active {
  color: #41B883;
  background-color: #fff;
}
#nav .dropdown-item:active {
  background-color: #41B883;
}
#nav .btn-login {
  display: block;
  padding: 0.4rem 1.5rem;
  color: #f7f7f7 !important;
  margin-left: 20px;
  font-size: .88rem;
  margin-top: .1rem;
  background-image: linear-gradient(to right, #41B883 0%, #00CDAC 51%, #0a8f54 100%);
  background-size: 200% auto;
  border-radius: 1.2rem;
  font-weight: bold;
  transition: background .3s ease;
}
#nav .btn-login:hover {
  text-decoration: none;
  background-position: right center;
}
@media only screen and (max-width: 992px) {
  #nav a.nav-link, #nav .btn-login {
    margin: 15px 20px;
    padding: 0.5rem 1.5rem;
  }
}
.custom-badge {
  color: #fff !important;
  background-color: #41B883;
}

/* COMMON & CUSTOM */
.btn-gradient-green {
  color: #f7f7f7;
  background-image: linear-gradient(15deg, #42b983 0%, #80d0c7 100%);
  border: none;
  transition: all .3s ease;
  font-size: 0.95rem;
  transform: scale(1);
}
.btn-gradient-green:hover {
  color: #f7f7f7;
}
.btn-gradient-green:enabled:hover {
  color: #f7f7f7;
  background-image: linear-gradient(30deg, #41B883 80%, #80d0c7 100%);
}
.btn-gradient-green:enabled:active {
  color: #fff;
  transform: scale(0.9);
}
.btn-gradient-green:focus, .btn-remove:focus {
  box-shadow: none;
}
.btn-remove {
  padding: 0.2rem 0.25rem 0.05rem;
  font-size: .75rem;
  background-color: #E9625E;
  border: none;
  color: #fff;
}
.btn-remove:active, .btn-remove:focus, .btn-remove:hover {
  color: #fff;
}

.text-green, .link-green {
  color: #41B883;
}
.link-green:hover {
  color: #65b893;
  text-decoration: underline !important;
}

.table-edited th, .table-edited td {
  text-align: left;
  vertical-align: middle;
  font-size: .9rem;
}
.table-edited tr:last-child {
  border-bottom: 1px solid #dee2e6;
}
.table-padding-edited td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.table-hover tbody tr:hover {
  background-color: #efefef;
}
tbody .md-table-row td {
  text-align: left;
  font-size: .9rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* RIPPLE EFFECT */
.ripple {
  background-color: #f6f6f6;
  background-position: center;
  transition: background 0.5s;
}
.ripple:hover {
  background: #f6f6f6 radial-gradient(circle, transparent 1%, #f6f6f6 1%) center/15000%;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
.ripple:focus {
  box-shadow: none !important;
}

/* ITEMS */
.div-product a {
  text-decoration: none;
  color: #222;
}
.div-product .img-wrap {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.div-product .img-wrap img {
  left: 50%;
  top: 50%; 
  transform: translate(-50%,-50%); 
  position: absolute; 
  z-index: 1;
}
.div-product .discount-tag {
  position: absolute; 
  left: 0;
  top: 20px;
  display: inline-block;
  z-index: 2;
  background-color: #F3C60B;
  color: #fff;
  font-size: 0.78rem;
  font-weight: bold;
  padding: 2px 10px;
  -webkit-box-shadow: 6px 6px 12px -5px #ddd;
  box-shadow: 6px 6px 12px -5px #ddd;
}
.div-product .module {
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.div-product .module .card-title {
  margin: 0;
  line-height: 20px;
  font-size: .9rem;
}
.div-product .module .card-title:hover {
  text-decoration: underline;
}
.div-product .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
.div-product .card-text, .text-price {
  color: #42b983;
  font-size: 1em;
  font-weight: bold;
}
.div-product .div-price {
  height: 55px;
}
.div-product {
  transition: all .3s ease;
}
.div-product:hover {
  box-shadow: 0 .5rem 1rem rgba(52, 58, 64, 0.4)!important;
}
.div-product:hover .img-wrap {
  opacity: 0.8;
}

/* ITEM DETAIL */
.text-price {
  font-size: 1.4em;
  font-weight: bold;
}
/* plus minus */
.div-plusminus {
  display: inline-block;
}
.div-plusminus input::-webkit-outer-spin-button,
.div-plusminus input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.div-plusminus input[type=number] {
  -moz-appearance: textfield;
}
.div-plusminus input {
  border: none;
  outline: none;
  width: 60px;
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin-left: 5px;
  margin-right: 5px;
}

/* ORDER */


/* ORDER DETAIL */
.table-heading, .table-order th, .table-order td {
  font-size: .9rem;
  color: #333;
} 
.table-heading {
  line-height: 28px;
}
.td-right {
  text-align: right !important;
  padding-right: 20px;
}

/* SHOPPING CART */
.div-ordersummary, .div-ordersummary .form-control, textarea {
  font-size: .9rem;
}
.btn-qty {
  padding: 0.125rem 0.25rem;
  font-size: .75rem;
}
.span-qty {
  display: inline-block;
  width: 35px;
  text-align: center;
}

/* MATERIAL */
.md-input {
  border-bottom: 1px solid #aaa !important;
}
.md-field.md-theme-default:before {
  background-color: #41B883;
}
.md-field.md-has-password .md-toggle-password svg {
  opacity: 0.5
 }